body{
    background: linear-gradient(to bottom,rgb(170, 210, 246),rgb(190, 215, 247),rgb(243, 196, 204),rgb(247, 168, 181),rgb(250, 182, 194),white);
    margin: 0;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.link{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
    background-color: blue;
    
}
.h1{
    display: flex;
    justify-content: flex-start;
    margin: 40px;
    font-size: 20px;
    font-weight: 600;
}